@import '@deweyou-design/styles/less/bridge';

.root {
  background: var(--ui-color-surface);
  border: 1px solid var(--ui-color-border);
  border-radius: var(--ui-radius-auto);
  box-shadow: none;
  box-sizing: border-box;
}

.shapeRect {
  border-radius: var(--ui-radius-rect);
}

.paddingNone {
  padding: 0;
}

.paddingSm {
  padding: 12px;
}

.paddingMd {
  padding: 16px;
}

.paddingLg {
  padding: 24px;
}
