:root {
  color: var(--ui-color-text);
  background: var(--ui-color-canvas);
  font-family: var(--ui-font-body);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: var(--ui-color-text);
  background: var(--ui-color-canvas);
}

a {
  color: var(--ui-color-link);
}

h1,
h2,
h3 {
  font-family: var(--ui-font-display);
  margin: 0;
}
