:root {
  --ui-color-warm-white-1: #fefcf8;
  --ui-color-warm-white-2: #fffefb;
  --ui-color-warm-white-3: #ffffff;
  --ui-color-black: #000000;
  --ui-color-white: #ffffff;
  --ui-color-text-on-brand: var(--ui-color-white);
  --ui-color-text-on-danger: var(--ui-color-white);
  --ui-color-palette-red-50: hsl(8 14.76% 98%);
  --ui-color-palette-red-100: hsl(8 22.96% 95%);
  --ui-color-palette-red-200: hsl(8 34.44% 89%);
  --ui-color-palette-red-300: hsl(8 47.56% 82%);
  --ui-color-palette-red-400: hsl(8 60.68% 73%);
  --ui-color-palette-red-500: hsl(8 82% 64%);
  --ui-color-palette-red-600: hsl(8 77.08% 55%);
  --ui-color-palette-red-700: hsl(8 72.16% 45%);
  --ui-color-palette-red-800: hsl(8 60.68% 36%);
  --ui-color-palette-red-900: hsl(8 49.2% 27%);
  --ui-color-palette-red-950: hsl(8 37.72% 18%);
  --ui-color-palette-orange-50: hsl(24 15.48% 98%);
  --ui-color-palette-orange-100: hsl(24 24.08% 95%);
  --ui-color-palette-orange-200: hsl(24 36.12% 89%);
  --ui-color-palette-orange-300: hsl(24 49.88% 82%);
  --ui-color-palette-orange-400: hsl(24 63.64% 73%);
  --ui-color-palette-orange-500: hsl(24 86% 64%);
  --ui-color-palette-orange-600: hsl(24 80.84% 55%);
  --ui-color-palette-orange-700: hsl(24 75.68% 45%);
  --ui-color-palette-orange-800: hsl(24 63.64% 36%);
  --ui-color-palette-orange-900: hsl(24 51.6% 27%);
  --ui-color-palette-orange-950: hsl(24 39.56% 18%);
  --ui-color-palette-amber-50: hsl(40 15.84% 98%);
  --ui-color-palette-amber-100: hsl(40 24.64% 95%);
  --ui-color-palette-amber-200: hsl(40 36.96% 89%);
  --ui-color-palette-amber-300: hsl(40 51.04% 82%);
  --ui-color-palette-amber-400: hsl(40 65.12% 73%);
  --ui-color-palette-amber-500: hsl(40 88% 64%);
  --ui-color-palette-amber-600: hsl(40 82.72% 55%);
  --ui-color-palette-amber-700: hsl(40 77.44% 45%);
  --ui-color-palette-amber-800: hsl(40 65.12% 36%);
  --ui-color-palette-amber-900: hsl(40 52.8% 27%);
  --ui-color-palette-amber-950: hsl(40 40.48% 18%);
  --ui-color-palette-yellow-50: hsl(54 16.56% 98%);
  --ui-color-palette-yellow-100: hsl(54 25.76% 95%);
  --ui-color-palette-yellow-200: hsl(54 38.64% 89%);
  --ui-color-palette-yellow-300: hsl(54 53.36% 82%);
  --ui-color-palette-yellow-400: hsl(54 68.08% 73%);
  --ui-color-palette-yellow-500: hsl(54 92% 64%);
  --ui-color-palette-yellow-600: hsl(54 86.48% 55%);
  --ui-color-palette-yellow-700: hsl(54 80.96% 45%);
  --ui-color-palette-yellow-800: hsl(54 68.08% 36%);
  --ui-color-palette-yellow-900: hsl(54 55.2% 27%);
  --ui-color-palette-yellow-950: hsl(54 42.32% 18%);
  --ui-color-palette-lime-50: hsl(82 12.96% 98%);
  --ui-color-palette-lime-100: hsl(82 20.16% 95%);
  --ui-color-palette-lime-200: hsl(82 30.24% 89%);
  --ui-color-palette-lime-300: hsl(82 41.76% 82%);
  --ui-color-palette-lime-400: hsl(82 53.28% 73%);
  --ui-color-palette-lime-500: hsl(82 72% 64%);
  --ui-color-palette-lime-600: hsl(82 67.68% 55%);
  --ui-color-palette-lime-700: hsl(82 63.36% 45%);
  --ui-color-palette-lime-800: hsl(82 53.28% 36%);
  --ui-color-palette-lime-900: hsl(82 43.2% 27%);
  --ui-color-palette-lime-950: hsl(82 33.12% 18%);
  --ui-color-palette-green-50: hsl(138 11.88% 98%);
  --ui-color-palette-green-100: hsl(138 18.48% 95%);
  --ui-color-palette-green-200: hsl(138 27.72% 89%);
  --ui-color-palette-green-300: hsl(138 38.28% 82%);
  --ui-color-palette-green-400: hsl(138 48.84% 73%);
  --ui-color-palette-green-500: hsl(138 66% 64%);
  --ui-color-palette-green-600: hsl(138 62.04% 55%);
  --ui-color-palette-green-700: hsl(138 58.08% 45%);
  --ui-color-palette-green-800: hsl(138 48.84% 36%);
  --ui-color-palette-green-900: hsl(138 39.6% 27%);
  --ui-color-palette-green-950: hsl(138 30.36% 18%);
  --ui-color-palette-emerald-50: hsl(154 11.16% 98%);
  --ui-color-palette-emerald-100: hsl(154 17.36% 95%);
  --ui-color-palette-emerald-200: hsl(154 26.04% 89%);
  --ui-color-palette-emerald-300: hsl(154 35.96% 82%);
  --ui-color-palette-emerald-400: hsl(154 45.88% 73%);
  --ui-color-palette-emerald-500: hsl(154 62% 64%);
  --ui-color-palette-emerald-600: hsl(154 58.28% 55%);
  --ui-color-palette-emerald-700: hsl(154 54.56% 45%);
  --ui-color-palette-emerald-800: hsl(154 45.88% 36%);
  --ui-color-palette-emerald-900: hsl(154 37.2% 27%);
  --ui-color-palette-emerald-950: hsl(154 28.52% 18%);
  --ui-color-palette-teal-50: hsl(172 10.8% 98%);
  --ui-color-palette-teal-100: hsl(172 16.8% 95%);
  --ui-color-palette-teal-200: hsl(172 25.2% 89%);
  --ui-color-palette-teal-300: hsl(172 34.8% 82%);
  --ui-color-palette-teal-400: hsl(172 44.4% 73%);
  --ui-color-palette-teal-500: hsl(172 60% 64%);
  --ui-color-palette-teal-600: hsl(172 56.4% 55%);
  --ui-color-palette-teal-700: hsl(172 52.8% 45%);
  --ui-color-palette-teal-800: hsl(172 44.4% 36%);
  --ui-color-palette-teal-900: hsl(172 36% 27%);
  --ui-color-palette-teal-950: hsl(172 27.6% 18%);
  --ui-color-palette-cyan-50: hsl(190 12.24% 98%);
  --ui-color-palette-cyan-100: hsl(190 19.04% 95%);
  --ui-color-palette-cyan-200: hsl(190 28.56% 89%);
  --ui-color-palette-cyan-300: hsl(190 39.44% 82%);
  --ui-color-palette-cyan-400: hsl(190 50.32% 73%);
  --ui-color-palette-cyan-500: hsl(190 68% 64%);
  --ui-color-palette-cyan-600: hsl(190 63.92% 55%);
  --ui-color-palette-cyan-700: hsl(190 59.84% 45%);
  --ui-color-palette-cyan-800: hsl(190 50.32% 36%);
  --ui-color-palette-cyan-900: hsl(190 40.8% 27%);
  --ui-color-palette-cyan-950: hsl(190 31.28% 18%);
  --ui-color-palette-sky-50: hsl(204 13.68% 98%);
  --ui-color-palette-sky-100: hsl(204 21.28% 95%);
  --ui-color-palette-sky-200: hsl(204 31.92% 89%);
  --ui-color-palette-sky-300: hsl(204 44.08% 82%);
  --ui-color-palette-sky-400: hsl(204 56.24% 73%);
  --ui-color-palette-sky-500: hsl(204 76% 64%);
  --ui-color-palette-sky-600: hsl(204 71.44% 55%);
  --ui-color-palette-sky-700: hsl(204 66.88% 45%);
  --ui-color-palette-sky-800: hsl(204 56.24% 36%);
  --ui-color-palette-sky-900: hsl(204 45.6% 27%);
  --ui-color-palette-sky-950: hsl(204 34.96% 18%);
  --ui-color-palette-blue-50: hsl(220 14.04% 98%);
  --ui-color-palette-blue-100: hsl(220 21.84% 95%);
  --ui-color-palette-blue-200: hsl(220 32.76% 89%);
  --ui-color-palette-blue-300: hsl(220 45.24% 82%);
  --ui-color-palette-blue-400: hsl(220 57.72% 73%);
  --ui-color-palette-blue-500: hsl(220 78% 64%);
  --ui-color-palette-blue-600: hsl(220 73.32% 55%);
  --ui-color-palette-blue-700: hsl(220 68.64% 45%);
  --ui-color-palette-blue-800: hsl(220 57.72% 36%);
  --ui-color-palette-blue-900: hsl(220 46.8% 27%);
  --ui-color-palette-blue-950: hsl(220 35.88% 18%);
  --ui-color-palette-indigo-50: hsl(242 11.88% 98%);
  --ui-color-palette-indigo-100: hsl(242 18.48% 95%);
  --ui-color-palette-indigo-200: hsl(242 27.72% 89%);
  --ui-color-palette-indigo-300: hsl(242 38.28% 82%);
  --ui-color-palette-indigo-400: hsl(242 48.84% 73%);
  --ui-color-palette-indigo-500: hsl(242 66% 64%);
  --ui-color-palette-indigo-600: hsl(242 62.04% 55%);
  --ui-color-palette-indigo-700: hsl(242 58.08% 45%);
  --ui-color-palette-indigo-800: hsl(242 48.84% 36%);
  --ui-color-palette-indigo-900: hsl(242 39.6% 27%);
  --ui-color-palette-indigo-950: hsl(242 30.36% 18%);
  --ui-color-palette-violet-50: hsl(264 12.96% 98%);
  --ui-color-palette-violet-100: hsl(264 20.16% 95%);
  --ui-color-palette-violet-200: hsl(264 30.24% 89%);
  --ui-color-palette-violet-300: hsl(264 41.76% 82%);
  --ui-color-palette-violet-400: hsl(264 53.28% 73%);
  --ui-color-palette-violet-500: hsl(264 72% 64%);
  --ui-color-palette-violet-600: hsl(264 67.68% 55%);
  --ui-color-palette-violet-700: hsl(264 63.36% 45%);
  --ui-color-palette-violet-800: hsl(264 53.28% 36%);
  --ui-color-palette-violet-900: hsl(264 43.2% 27%);
  --ui-color-palette-violet-950: hsl(264 33.12% 18%);
  --ui-color-palette-purple-50: hsl(280 12.96% 98%);
  --ui-color-palette-purple-100: hsl(280 20.16% 95%);
  --ui-color-palette-purple-200: hsl(280 30.24% 89%);
  --ui-color-palette-purple-300: hsl(280 41.76% 82%);
  --ui-color-palette-purple-400: hsl(280 53.28% 73%);
  --ui-color-palette-purple-500: hsl(280 72% 64%);
  --ui-color-palette-purple-600: hsl(280 67.68% 55%);
  --ui-color-palette-purple-700: hsl(280 63.36% 45%);
  --ui-color-palette-purple-800: hsl(280 53.28% 36%);
  --ui-color-palette-purple-900: hsl(280 43.2% 27%);
  --ui-color-palette-purple-950: hsl(280 33.12% 18%);
  --ui-color-palette-fuchsia-50: hsl(304 13.68% 98%);
  --ui-color-palette-fuchsia-100: hsl(304 21.28% 95%);
  --ui-color-palette-fuchsia-200: hsl(304 31.92% 89%);
  --ui-color-palette-fuchsia-300: hsl(304 44.08% 82%);
  --ui-color-palette-fuchsia-400: hsl(304 56.24% 73%);
  --ui-color-palette-fuchsia-500: hsl(304 76% 64%);
  --ui-color-palette-fuchsia-600: hsl(304 71.44% 55%);
  --ui-color-palette-fuchsia-700: hsl(304 66.88% 45%);
  --ui-color-palette-fuchsia-800: hsl(304 56.24% 36%);
  --ui-color-palette-fuchsia-900: hsl(304 45.6% 27%);
  --ui-color-palette-fuchsia-950: hsl(304 34.96% 18%);
  --ui-color-palette-pink-50: hsl(330 14.04% 98%);
  --ui-color-palette-pink-100: hsl(330 21.84% 95%);
  --ui-color-palette-pink-200: hsl(330 32.76% 89%);
  --ui-color-palette-pink-300: hsl(330 45.24% 82%);
  --ui-color-palette-pink-400: hsl(330 57.72% 73%);
  --ui-color-palette-pink-500: hsl(330 78% 64%);
  --ui-color-palette-pink-600: hsl(330 73.32% 55%);
  --ui-color-palette-pink-700: hsl(330 68.64% 45%);
  --ui-color-palette-pink-800: hsl(330 57.72% 36%);
  --ui-color-palette-pink-900: hsl(330 46.8% 27%);
  --ui-color-palette-pink-950: hsl(330 35.88% 18%);
  --ui-color-palette-rose-50: hsl(350 14.76% 98%);
  --ui-color-palette-rose-100: hsl(350 22.96% 95%);
  --ui-color-palette-rose-200: hsl(350 34.44% 89%);
  --ui-color-palette-rose-300: hsl(350 47.56% 82%);
  --ui-color-palette-rose-400: hsl(350 60.68% 73%);
  --ui-color-palette-rose-500: hsl(350 82% 64%);
  --ui-color-palette-rose-600: hsl(350 77.08% 55%);
  --ui-color-palette-rose-700: hsl(350 72.16% 45%);
  --ui-color-palette-rose-800: hsl(350 60.68% 36%);
  --ui-color-palette-rose-900: hsl(350 49.2% 27%);
  --ui-color-palette-rose-950: hsl(350 37.72% 18%);
  --ui-color-palette-slate-50: hsl(218 3.24% 98%);
  --ui-color-palette-slate-100: hsl(218 5.04% 95%);
  --ui-color-palette-slate-200: hsl(218 7.56% 89%);
  --ui-color-palette-slate-300: hsl(218 10.44% 82%);
  --ui-color-palette-slate-400: hsl(218 13.32% 73%);
  --ui-color-palette-slate-500: hsl(218 18% 64%);
  --ui-color-palette-slate-600: hsl(218 16.92% 55%);
  --ui-color-palette-slate-700: hsl(218 15.84% 45%);
  --ui-color-palette-slate-800: hsl(218 13.32% 36%);
  --ui-color-palette-slate-900: hsl(218 10.8% 27%);
  --ui-color-palette-slate-950: hsl(218 8.28% 18%);
  --ui-color-palette-gray-50: hsl(220 1.8% 98%);
  --ui-color-palette-gray-100: hsl(220 2.8% 95%);
  --ui-color-palette-gray-200: hsl(220 4.2% 89%);
  --ui-color-palette-gray-300: hsl(220 5.8% 82%);
  --ui-color-palette-gray-400: hsl(220 7.4% 73%);
  --ui-color-palette-gray-500: hsl(220 10% 64%);
  --ui-color-palette-gray-600: hsl(220 9.4% 55%);
  --ui-color-palette-gray-700: hsl(220 8.8% 45%);
  --ui-color-palette-gray-800: hsl(220 7.4% 36%);
  --ui-color-palette-gray-900: hsl(220 6% 27%);
  --ui-color-palette-gray-950: hsl(220 4.6% 18%);
  --ui-color-palette-zinc-50: hsl(240 1.08% 98%);
  --ui-color-palette-zinc-100: hsl(240 1.68% 95%);
  --ui-color-palette-zinc-200: hsl(240 2.52% 89%);
  --ui-color-palette-zinc-300: hsl(240 3.48% 82%);
  --ui-color-palette-zinc-400: hsl(240 4.44% 73%);
  --ui-color-palette-zinc-500: hsl(240 6% 64%);
  --ui-color-palette-zinc-600: hsl(240 5.64% 55%);
  --ui-color-palette-zinc-700: hsl(240 5.28% 45%);
  --ui-color-palette-zinc-800: hsl(240 4.44% 36%);
  --ui-color-palette-zinc-900: hsl(240 3.6% 27%);
  --ui-color-palette-zinc-950: hsl(240 2.76% 18%);
  --ui-color-palette-neutral-50: hsl(0 0% 98%);
  --ui-color-palette-neutral-100: hsl(0 0% 95%);
  --ui-color-palette-neutral-200: hsl(0 0% 89%);
  --ui-color-palette-neutral-300: hsl(0 0% 82%);
  --ui-color-palette-neutral-400: hsl(0 0% 73%);
  --ui-color-palette-neutral-500: hsl(0 0% 64%);
  --ui-color-palette-neutral-600: hsl(0 0% 55%);
  --ui-color-palette-neutral-700: hsl(0 0% 45%);
  --ui-color-palette-neutral-800: hsl(0 0% 36%);
  --ui-color-palette-neutral-900: hsl(0 0% 27%);
  --ui-color-palette-neutral-950: hsl(0 0% 18%);
  --ui-color-palette-stone-50: hsl(28 1.44% 98%);
  --ui-color-palette-stone-100: hsl(28 2.24% 95%);
  --ui-color-palette-stone-200: hsl(28 3.36% 89%);
  --ui-color-palette-stone-300: hsl(28 4.64% 82%);
  --ui-color-palette-stone-400: hsl(28 5.92% 73%);
  --ui-color-palette-stone-500: hsl(28 8% 64%);
  --ui-color-palette-stone-600: hsl(28 7.52% 55%);
  --ui-color-palette-stone-700: hsl(28 7.04% 45%);
  --ui-color-palette-stone-800: hsl(28 5.92% 36%);
  --ui-color-palette-stone-900: hsl(28 4.8% 27%);
  --ui-color-palette-stone-950: hsl(28 3.68% 18%);
  --ui-color-palette-taupe-50: hsl(24 2.52% 98%);
  --ui-color-palette-taupe-100: hsl(24 3.92% 95%);
  --ui-color-palette-taupe-200: hsl(24 5.88% 89%);
  --ui-color-palette-taupe-300: hsl(24 8.12% 82%);
  --ui-color-palette-taupe-400: hsl(24 10.36% 73%);
  --ui-color-palette-taupe-500: hsl(24 14% 64%);
  --ui-color-palette-taupe-600: hsl(24 13.16% 55%);
  --ui-color-palette-taupe-700: hsl(24 12.32% 45%);
  --ui-color-palette-taupe-800: hsl(24 10.36% 36%);
  --ui-color-palette-taupe-900: hsl(24 8.4% 27%);
  --ui-color-palette-taupe-950: hsl(24 6.44% 18%);
  --ui-color-palette-mauve-50: hsl(284 2.52% 98%);
  --ui-color-palette-mauve-100: hsl(284 3.92% 95%);
  --ui-color-palette-mauve-200: hsl(284 5.88% 89%);
  --ui-color-palette-mauve-300: hsl(284 8.12% 82%);
  --ui-color-palette-mauve-400: hsl(284 10.36% 73%);
  --ui-color-palette-mauve-500: hsl(284 14% 64%);
  --ui-color-palette-mauve-600: hsl(284 13.16% 55%);
  --ui-color-palette-mauve-700: hsl(284 12.32% 45%);
  --ui-color-palette-mauve-800: hsl(284 10.36% 36%);
  --ui-color-palette-mauve-900: hsl(284 8.4% 27%);
  --ui-color-palette-mauve-950: hsl(284 6.44% 18%);
  --ui-color-palette-mist-50: hsl(204 2.16% 98%);
  --ui-color-palette-mist-100: hsl(204 3.36% 95%);
  --ui-color-palette-mist-200: hsl(204 5.04% 89%);
  --ui-color-palette-mist-300: hsl(204 6.96% 82%);
  --ui-color-palette-mist-400: hsl(204 8.88% 73%);
  --ui-color-palette-mist-500: hsl(204 12% 64%);
  --ui-color-palette-mist-600: hsl(204 11.28% 55%);
  --ui-color-palette-mist-700: hsl(204 10.56% 45%);
  --ui-color-palette-mist-800: hsl(204 8.88% 36%);
  --ui-color-palette-mist-900: hsl(204 7.2% 27%);
  --ui-color-palette-mist-950: hsl(204 5.52% 18%);
  --ui-color-palette-olive-50: hsl(72 2.52% 98%);
  --ui-color-palette-olive-100: hsl(72 3.92% 95%);
  --ui-color-palette-olive-200: hsl(72 5.88% 89%);
  --ui-color-palette-olive-300: hsl(72 8.12% 82%);
  --ui-color-palette-olive-400: hsl(72 10.36% 73%);
  --ui-color-palette-olive-500: hsl(72 14% 64%);
  --ui-color-palette-olive-600: hsl(72 13.16% 55%);
  --ui-color-palette-olive-700: hsl(72 12.32% 45%);
  --ui-color-palette-olive-800: hsl(72 10.36% 36%);
  --ui-color-palette-olive-900: hsl(72 8.4% 27%);
  --ui-color-palette-olive-950: hsl(72 6.44% 18%);
}
