@import '@deweyou-design/styles/less/bridge';

.root {
  position: relative;
  width: 100%;
}

.viewport {
  height: 100%;
}

.spacer {
  position: relative;
  width: 100%;
}

.item {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
