.timeFooter {
  display: flex;
  flex: 1;
  gap: var(--date-picker-panel-view-gap);
  align-items: center;
  justify-content: flex-end;
  min-inline-size: 0;
}

.nowButton {
  margin-inline-end: auto;
}
